body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#TextStyle {
    font-size: 1vw;
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px #8C001A;
}

#StoryContentBox {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50vw;
    border: 4px solid grey;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha (fourth value) as needed for transparency */
}

.blackhole {
    background-image: url('blackhole.gif');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.spaceMan img {
    max-width: 30vw; 
    height: auto; /* Maintain aspect ratio */
    filter: invert(100%); /* Invert the color */
    position: absolute; /* Position it absolutely */
    top: -30px; /* Position from the top */
    left: 0; /* Position from the left */
}

.spaceGuy img {
    width: 22vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
    animation: rotateInfinitely 3.5s linear infinite;
}

@keyframes rotateInfinitely {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
