body {
    background-image: url('backgrounds/desert.jpg');
    background-size: 100% 100%;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.Stage-Intro {
    margin-left: auto;
    margin-right: auto;
    height: 115px;
    width: 75vw;
    border: 4px solid darkcyan;
    border-radius: 20px;
    position: absolute;
    top: 2px;
    left: 50%;
	transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 0.5);
}
.StoryContentBox {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 30vw;
    border: 4px solid grey;
    border-radius: 20px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0.7;
    background-color:rgba(255, 255, 255, 0.5)
}
.TextStyle {
    font-size: 17pt;
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 1.3px 1.3px darkcyan;
}
#Textbox {
    width: 10px;
    height: auto;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.TextStyle img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 30px;
}
#style {
    color:gold;
}
#first-child {
    display: block;
    margin-top: 5px;
}
#second-child {
    display: block;
    margin-top: 15px;
}
.option-button {
    color: rgb(255, 0, 140);
    text-decoration: none;
}
.option-button:hover{
    color: rosybrown;
}
.Villain img {
    width: 250px;
    height: auto;
    position: absolute;
    right: 0vw;
    bottom: 14vw;
    z-index: 2;
}
#text-bubble {
    width: 300px;
    right: 10vw;
    top: 15vw;
	transform: scaleX(-1); /* Flip the image horizontally */
}
#bubble-text {
    position: absolute;
    font-size: 12pt;
    right: 12vw;
    top: 16.5vw;
}
.Portal img {
    width: 250px;
    height: auto;
    left: 30px;
    bottom: 20px;
    position: absolute;
}
.Spaceman img {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 50px;
    opacity: 0;
    animation: moveRight 300s linear 3s forwards, fadeIn 3s ease-out 3s forwards;
}
@keyframes moveRight {
    0% {
        left: 70px;
        opacity: 1;
    }
    100% {
        left: 1600px;
    }
}
@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}
.Sandstorm img {
    width: auto;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    animation: moveLeft 2s linear infinite;
}
#sandstorm-back {
    width: auto;
    height: 10vh;
    top: 54.4vh;
    right: 10vw;
    z-index: 1;
    opacity: 0.7;
    animation: sandstorm-back 1s linear infinite;
}
@keyframes moveLeft {
    0% {
        right: 0;
    }
    100% {
        right: calc(100% - 700px);
    }
}
@keyframes sandstorm-back {
    0% {
        right: 700px;
    }
    100% {
        right: 900px;
    }
}