<<<<<<< HEAD
.cityscape {
    position: auto;
    width: 100%;
    height: 100%;
    background-image: url('sky.jpg');
    background-size: cover;
    background-position: center;
}

#StoryContentBox {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 500px;
    border: 4px solid grey;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 50%;
	transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha (fourth value) as needed for transparency */
}
#StoryLineContentBox {
    margin-left: auto;
    margin-right: auto;
    height: 185px;
    width: 600px;
    border: 4px solid grey;
    border-radius: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
	transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha (fourth value) as needed for transparency */
}
#CharContentBox {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 450px; 
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    background-color: transparent; 
}
#TextStyle {
    font-size: 14pt;
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px #8C001A;
    align-items: center;
}
#option1 {
    font-size: 20pt;
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-weight: bold;
    display: block;
    margin: auto; 
    color: rgb(236, 221, 23);
}
#option2{
    font-size: 20pt;
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-weight: bold;
    display: block;
    margin:auto;
    color: rgb(48, 39, 39);
}
.button {
   
    text-decoration: none;
    text-align: center;

}
.ship-image {
    position: right;
    top: 205px;
    left: 945px;
    width: 600px; 
}
.spaceman{

    background: transparent;
    width: 15vw;
    height: auto;
    animation: character 7s ease 1 forwards;
    
 }   
  

@keyframes character {
     from{
        margin-left: 0%;
    }
    to{
        margin-left: 30%;
    }
}

/* This implimentation of the animation makes the spaceman come from the left portal to the stopping point which is set by the tresure box */

.treasure-box {
    background: transparent;
    position: absolute;
    top: 57%; 
    left: 635px;
    width: 150px; 
    z-index: 1;
}
.platform{
    position: absolute;
    top: 48%; 
    left: 820px;
    width: 150px;
    bottom: 0;
    animation: platform 5s linear infinite;
}
    @keyframes platform {  
    0%, 50%{
      transfrom: translateY(10);
   }
    50%{
       transform: translateY(-120px);
   }
 }

/* The transform keyframe makes the platform gif go on in a loop from the selected part of the page  */

.unknown-image {
    position: absolute;
    top: 5%; 
    left: 0;
    width: 150px;  
=======
.cityscape {
    position: auto;
    width: 100%;
    height: 100%;
    background-image: url('backgrounds/sky.jpg');
    background-size: cover;
    background-position: center;
}

#StoryContentBox {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 500px;
    border: 4px solid grey;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 50%;
	transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha (fourth value) as needed for transparency */
}
#StoryLineContentBox {
    margin-left: auto;
    margin-right: auto;
    height: 185px;
    width: 600px;
    border: 4px solid grey;
    border-radius: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
	transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha (fourth value) as needed for transparency */
}
#CharContentBox {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 450px; 
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    background-color: transparent; 
}
#TextStyle {
    font-size: 17pt;
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px #8C001A;
}
.ship-image {
    position: right;
    top: 205px;
    left: 945px;
    width: 600px; 
}

.spaceman{
    /* position: absolute; */
    /* bottom: 63%; */
    /* left: 0; */
    /* width: 200px; */
    background: transparent;
    width: 15vw;
    height: auto;
    /* position: absolute; */
    /* top: 5%; */
    /* left: 50%; */
    animation: character 7s ease 1 forwards;
    animation-play-state: running 2s, paused, running 2s */
 }   
  

@keyframes character {
     from{
        margin-left: 0%;
    }
    to{
        margin-left: 30%;
    }
}

.treasure-box {
    background: transparent;
    position: absolute;
    top: 57%; 
    left: 635px;
    width: 150px; 
    animation: box;
}
.platform{
    position: absolute;
    top: 48%; 
    left: 820px;
    width: 150px;
    bottom: 0;
    animation: platform 5s linear infinite;
}
    @keyframes platform {  
    0%, 50%{
      transfrom: translateY(10);
   }
    50%{
       transform: translateY(-120px);
   }
 }



.unknown-image {
    position: absolute;
    top: 5%; 
    left: 0;
    width: 150px;  
>>>>>>> 4c405d7c57d4d31c787cbdc2513041b002dde46b
}