body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#TextStyle {
    font-size: 1vw;
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px #8C001A;
}
#StoryLineContentBox {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50vw;
    border: 4px solid grey;
    border-radius: 20px;
    position: absolute;
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1; /* Ensure this appears on top of other elements */
}

#StoryContentBox {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50vw;
    border: 4px solid grey;
    border-radius: 20px;
    position: absolute;
    top: 7vw;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha (fourth value) as needed for transparency */
}
#FirstContentBox, #SecondContentBox, #ThirdContentBox {
    position: absolute;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#FirstContentBox {
    bottom: 30vw;
    left: 38vw;
}

#SecondContentBox {
   bottom: 30vw;
    left: 48vw;
}

#ThirdContentBox {
   bottom: 30vw;
    left: 58vw;
}
.lostWoods {
    background-image: url('backgrounds/lostWoods.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.spaceGuy img {
    position: absolute;
    top: 30vw;
    left: calc(100% - 200px); /* Start position at the right edge */
    width: 200px;
    background: transparent;
    animation: moveRightToLeft 5s linear forwards; /* Added 'forwards' to keep the end state */
    transform: scaleX(-1); /* Flip the image horizontally */
}


.centered-image {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    align-items: center;
    position: absolute;
    top: 30vw; /* Adjust the vertical position as needed */
    left: 15vw; /* Align to the left */
    max-width: 5vw;
    height: auto;
    z-index: 1;
    transform: translateY(-50%); /* Center vertically */
}

.centered-image img {
    width: 200px; /* Adjust the width as needed */
}

@keyframes moveRightToLeft {
    to {
        left: calc(50% - 100px); /* Move to the middle of the screen */
    }
}

