.blackhole {
  background-image: url('backgrounds/blackhole.gif');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.spaceShip {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      
.movingImage {
        position: absolute;
        width: 20%; 
        height: 20%;
        animation: shipMovement 4s linear forwards;
        opacity: 1 ;
      }
.earthImage {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
      }
      
@keyframes shipMovement {
        0% {
          left: 0;
          top: 0;
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        75% {
          opacity:1;
        }
        80%{
                opacity: 0;
        }
        100% {
          left: 100%;
          top: 100%;
          opacity: 0;
        }
      }
      #StoryContentBox {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        max-width: 50vw;
        border: 4px solid grey;
        border-radius: 20px;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.5);
    }
    #TextStyle {
        font-size: 1vw;
        font-family: "Verdana", sans-serif;
        text-align: center;
        font-weight: bold;
        text-shadow: 1px 1px #8C001A;
    }
    #PlayStoryContentBox {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);
        border: 2px solid #8C001A;
        border-radius: 20px;
        position: absolute;
        overflow: hidden;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.5);
    }

    #FirstContentBox{
      position: absolute;
    bottom: 8vw;
      padding: 10px;
      background-color: rgba(153, 69, 0, 0.8); /* Blood orange with alpha 0.8 */
      border-radius: 10px;
    width: 5vw;
    height: 2vw;
  }
  #FirstContentBox a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: white; /* Change the link color to suit your design */
      font-size: 1vw; /* Adjust the font size proportionate to the box */
  }
    